@import "lib/extensions/extensions";

.no-focus:active,
.no-focus:focus {
  background: none;
  outline: none;
  color: $govuk-link-colour;
}

.tiny-font {
  font-size: 10px;
}

.red-font {
  color: $govuk-error-colour;
}

.colourless-link {
  &:focus,
  &:hover,
  &:link,
  &:visited {
    color: grey;
  }
}

.govuk-link-purple-focus:focus {
  outline: 10px solid $govuk-link-visited-colour;
  background: none;
}

.app-task-list__task-name,
.govuk-link {
  &:visited {
    color: $govuk-link-colour;
    /* Don't want to show visited link styling */
  }
}

.govuk-button-light-grey {
  background-color: govuk-colour("grey-1");
  box-shadow: 0 2px 0 govuk-colour("black");

  &:focus,
  &:hover {
    background-color: govuk-colour("grey-2");
    box-shadow: 0 2px 0 govuk-colour("grey-1");
  }
}

.govuk-button-medium-grey {
  background-color: govuk-colour("grey-2");
  box-shadow: 0 2px 0 govuk-colour("grey-1");
  margin-left: 1em;

  &:focus,
  &:hover {
    background-color: govuk-colour("grey-3");
    box-shadow: 0 2px 0 govuk-colour("grey-2");
  }
}

.list-grey {
  color: govuk-colour("grey-1");
}

.light-grey {
  color: govuk-colour("grey-2");
}