@import "lib/extensions/extensions";

.no-focus:active,
.no-focus:focus {
  background: none;
  outline: none;
  color: $govuk-link-colour;
}

.tiny-font {
  font-size: 10px;
}

.red-font {
  color: $govuk-error-colour;
}