{% extends "layout.html" %}

{% block pageTitle %}
  Examples of inaccessible design
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Examples of inaccessible design
      </h1>

      {{ govukTable({
        caption: "Examples of inaccessible design",
        captionClasses: "govuk-visually-hidden",
        firstCellIsHeader: false,
        head: [
          {
            text: "Amount",
              classes: "govuk-visually-hidden"
          },
          {
            text: "Amount",
              classes: "govuk-visually-hidden"
          }
        ],
        rows: [
          [
            {
              html: '<a href="task-list-bad-tabbing" class="govuk-!-font-weight-regular">Tabbing</a>'
            },
            {
              text: "May cause problems for keyboard only users: page contains an illogical tab order, plus keyboard focus is missing from some elements."
            }
          ],
          [
            {
              html: '<a href="bad-multimedia" class="govuk-!-font-weight-regular">Multimedia</a>'
            },
            {
              text: "May cause problems for users with sight and hearing impairments: page comntains video content (without captions) plus audio content (without transcript)"
            }
          ],
          [
            {
              html: '<a href="bad-design" class="govuk-!-font-weight-regular">Colour/animations/font</a>'
            },
            {
              text: "May cause problems for users with sight and cognitive impairments: page contains confusing/distracting design and very small text"
            }
          ]
        ]
      }) }}

    </div>
  </div>

{% endblock %}