{% extends "layout.html" %}

{% block pageTitle %}
  Examples of inaccessible design
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Examples of inaccessible design
      </h1>

      {{ govukTable({
        caption: "Examples of inaccessible design",
        captionClasses: "govuk-visually-hidden",
        firstCellIsHeader: false,
        head: [
          {
            text: "Amount",
              classes: "govuk-visually-hidden"
          },
          {
            text: "Amount",
              classes: "govuk-visually-hidden"
          }
        ],
        rows: [
          [
            {
              html: '<a href="task-list-bad-tabbing" class="govuk-!-font-weight-regular">Keyboard focus styling issues</a>'
            },
            {
              text: "May cause problems for keyboard only users: page contains an illogical tab order, plus keyboard focus is missing from some elements."
            }
          ],
          [
            {
              html: '<a href="bad-multimedia" class="govuk-!-font-weight-regular">Multimedia without appropriate captions or transcripts</a>'
            },
            {
              text: "May cause problems for users with sight and hearing impairments: page comntains video content (without captions) plus audio content (without transcript)"
            }
          ],
          [
            {
              html: '<a href="bad-design" class="govuk-!-font-weight-regular">Poor use of colour, font size, and distracting animations</a>'
            },
            {
              html: 'May cause problems for users with visual and cognitive impairments: page contains confusing/distracting design and very small text. <p class="govuk-!-font-weight-bold">This page contains flashing animations - ensure nobody in audience has a photosensitive seizure disorder</p>'
            }
          ],
          [
            {
              html: '<a href="bad-colour" class="govuk-!-font-weight-regular">Relying on colour to convey information</a>'
            },
            {
              text: "May cause problems for users with visual impairments: page completely relies on user being able to see colour"
            }
          ],
          [
            {
              html: '<a href="bad-colour-2" class="govuk-!-font-weight-regular">Another example of relying on colour to convey information</a>'
            },
            {
              text: "May cause problems for users with visual impairments: page completely relies on user being able to see colour"
            }
          ]
        ]
      }) }}

    </div>
  </div>

{% endblock %}