{% extends "layout.html" %}

{% block pageTitle %}
  Examples of inaccessible design
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Examples of inaccessible design
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="task-list-bad-tabbing">Bad tabbing</a>
        </li>
        <li>
          <a href="bad-multimedia">Bad multimedia content</a>
        </li>
        <li>
          <a href="bad-design">Bad use of colour/design</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}