{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Check your submission
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}
  <style type="text/css">
    .govuk-skip-link {
      /*Hiding skip link*/
      display: none;
    }
  </style>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your submission
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1.
            </span>
            Check before you start
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="javascript:void(0)" aria-describedby="eligibility-completed">
                Check eligibility
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name no-focus" href="javascript:void(0)" aria-describedby="read-declaration-completed">
                Read declaration
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section" tabindex="0">
            <span class="app-task-list__section-number">2.
            </span>
            Prepare application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name no-focus" tabindex="11" href="javascript:void(0)" aria-describedby="company-information-completed">
                Company information
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="javascript:void(0)" aria-describedby="contact-details-completed" tabindex="4">
                Your contact details
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="javascript:void(0)">
                List convictions
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name govuk-link-purple-focus" href="javascript:void(0)" tabindex="10">
                Provide financial evidence
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="javascript:void(0)" aria-describedby="medical-information-completed">
                Give medical information
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3.
            </span>
            Apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name govuk-link-purple-focus" href="javascript:void(0)" tabindex="15">
                Submit and pay
              </a>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>

{% endblock %}